 <nav class="sidebar bg-dark p-3 d-flex flex-column">
        <h4 class="text-white mb-4">HyOps</h4>
        <ul class="nav flex-column">
            <!--
                <li class="nav-item">
                    <a class="nav-link" href="#">📊 Dashboard</a>
                </li>
            -->
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'organizations' %}active{% endif %}" href="/">🏢 Organizations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'users' %}active{% endif %}" href="/users-page">👥 Users</a>
            </li>
            <li class="nav-item">
                <!-- Active state moved to Subtypes -->
                <a class="nav-link {% if current_page == 'subtypes' %}active{% endif %}" href="/subtypes-page">⚙️ Subtypes</a>
            </li>

          

            <li class="nav-item">
                <!-- Add this new link -->
                <a class="nav-link {% if current_page == 'capabilities' %}active{% endif %}" href="/capabilities-page">🧩 Capabilities</a>
            </li>



            <li class="nav-item">
                <a class="nav-link" href="#">📁 Projects</a>
            </li>
            
        </ul>
    </nav>